[submodule "libraries/Adafruit_MCP9808_Library"]
	path = libraries/Adafruit_MCP9808_Library
	url = https://github.com/adafruit/Adafruit_MCP9808_Library.git
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Si5351Arduino"]
	path = libraries/Si5351Arduino
	url = https://github.com/etherkit/Si5351Arduino.git
[submodule "libraries/Rotary"]
	path = libraries/Rotary
	url = https://github.com/brianlow/Rotary
